<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserList">
    <!-- call UserList.selectFromUsers_List -->
    <select id="selectFromUsers_List" parameterType="Map" resultType="Map">
    SELECT *
    FROM USERS_LIST
    </select>

    <!-- call UserList.selectByUID -->
    <select id="selectByUID" parameterType="Map" resultType="Map">
    SELECT * 
    FROM USERS_LIST
    WHERE USERS_UID = #{USERS_UID}
    </select>

    <!-- call UserList.updateByUID -->
    <update id="updateByUID" parameterType="Map">
    UPDATE USERS_LIST
    SET 
    PHONE = #{PHONE} ,
    NAME= #{NAME}, 
    EMAIL = #{EMAIL},
    ID = #{ID},
    PWD = #{PWD}
    WHERE USERS_UID = #{USERS_UID}
    </update>

    <!-- call UserList.insertWithUID -->
    <insert id="insertWithUID" parameterType="Map">
    INSERT INTO USERS_LIST (USERS_UID, PHONE, NAME, EMAIL, ID, PWD, SURVEYCHECK, AUTH)
    VALUES (#{USERS_UID}, #{PHONE}, #{NAME}, #{EMAIL}, #{ID}, #{PWD}, #{SURVEYCHECK}, #{AUTH});
    </insert>

    <!-- call UserList.deleteByUID -->
    <delete id="deleteByUID" parameterType="Map">
     DELETE FROM USERS_LIST
     WHERE USERS_UID = #{USERS_UID};
     </delete>





</mapper>